<div class="flex-container">
  <div class="side-bar">
    <div class="profile">
      <div class="avatar">
        <img src="https://logo.clearbit.com/<%= @user.institution %>.com?size=450">
      </div>
      <div class="name">
        <%= @user.name %> <br>
      </div>
      <div class="institution">
        <%= @user.institution %>
      </div>
    </div>
    <div class="bars">
      <ul style= "" class="nav" role="tablist">
        <li role="presentation"><a type="button" class="btn btn-biz" data-toggle="modal" data-target="#myModal">Upload</button></a></li>
        <li role="presentation" class="active"><a href="#uploaded" aria-controls="uploaded" role="tab" data-toggle="tab">View all</a></li>
        <li role="presentation"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Work in progress</a></li>
        <li role="presentation"><a href="#translated" aria-controls="translated" role="tab" data-toggle="tab">Translated</a></li>
         <li role="presentation"><a href="#invoices" aria-controls="invoices" role="tab" data-toggle="tab">Invoices</a></li>
      </ul>
    </div>
  </div>

  <!-- Tab panes -->
  <div class="page">
  <div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="uploaded">
              <div class="lesson-name">
             Uploaded Documents
           </div>
          <div class="doc-count">
                   <% i = 0 %>
            <% @documents.each do |document| %>
            <% if document.pdf? %>
              <% i += 1 %>
              <% end %>
            <% end %>
          <p><%= i %> documents</p>
              </div>
              <% docs = @documents.order(created_at: :desc) %>
              <% docs.each do |document| %>
                <div class="assignment">
                  <div class="doc-name">
                    <%= link_to document_path(document), id: "preview_#{document.id}", class: "preview_link" do %>
                      <%= document.title %>
                      <p>Added: <%= document.created_at.strftime("%d %b %y") %></p>
                      <%= cl_image_tag document.pdf.file.public_id, format: :jpg, density: 300, class: 'files-image' %>
                    <% end %>
                  </div>
                  <% if document.student_content == "paid" %>
                  <div class="btn btn-good">live<strong>translating</strong></div>
                  <% elsif document.student_content == "translated" %>
                  <%= link_to 'Download', document_path(document), :class => "btn btn-upload" %>
                  <% else %>
                  <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#payment-<%= document.id %>">Purchase</button></a>
                  <a class="fas fa-times" <%= link_to '', document_path(document), method: :delete %></a>
                  <div class="modal fade" id="payment-<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Payment</h4>
                        </div>
                        <div class="modal-body">
                         <%= render 'payments/paymentform', order: document.order, document: document %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              <% end %>
      </div>

    <div role="tabpanel" class="tab-pane" id="pending">
          <div class="lesson-name">
         Pending Documents
       </div>
          <div class="doc-count">
            <% i = 0 %>
            <% @documents.each do |document| %>
            <% if document.student_content == "paid" %>
              <% i += 1 %>
              <% end %>
            <% end %>
          <p><%= i %> documents</p>
        </div>
        <% docs = @documents.order(created_at: :desc) %>
        <% docs.each do |t|  %>
        <% if t.student_content == "paid" %>
     <div class="assignment">
      <div class="doc-name">
        <%= link_to document_path(t), id: "preview_#{t.id}", class: "preview_link" do %>
        <%= t.title %>
        <p>Added: <%= t.updated_at.strftime("%d %b %y")%></p>
        <%# raise %>
        <%= cl_image_tag t.pdf.file.public_id, format: :jpg, density: 300, class: 'files-image' %>
        <% end %>
     </div>
        <a type="button" class="btn btn-success">live<strong>translating</strong></a>
      </div>
        <% end %>
      <% end %>
      </div>

    <div role="tabpanel" class="tab-pane" id="translated">
          <div class="lesson-name">
         Translated Documents
       </div>
          <div class="doc-count">
            <% i = 0 %>
            <% @documents.each do |document| %>
            <% if document.final_content? %>
              <% i += 1 %>
              <% end %>
            <% end %>
          <p><%= i %> documents</p>
        </div>
      <% docs = @documents.order(created_at: :desc) %>
      <% docs.each do |t|  %>
        <% if t.student_content == "translated" %>
     <div class="assignment">
      <div class="doc-name">
        <%= link_to document_path(t), id: "preview_#{t.id}", class: "preview_link" do %>
        <%= t.title %>
        <p>Added: <%= t.updated_at.strftime("%d %b %y") %></p>
        <%= cl_image_tag t.pdf.file.public_id, format: :jpg, density: 300, class: 'files-image' %>
        <% end %>
     </div>
     <!-- <a type="button" class="btn btn-upload">Download</button></a> -->
     <%= link_to 'Download', document_path(t, :format => :pdf), :class => "btn btn-upload" %>

      </div>
        <% end %>
      <% end %>
      </div>

  <div role="tabpanel" class="tab-pane" id="invoices">
          <div class="lesson-name">
         Invoices
       </div>
          <div class="doc-count">
            <% i = 0 %>
            <% @documents.each do |document| %>
            <% if !document.student_content.blank? %>
              <% i += 1 %>
              <% end %>
            <% end %>
          <p><%= i %> documents</p>
        </div>
        <% orders = @user.orders.order(created_at: :desc) %>
        <% orders.each do |t|  %>
        <% if t.state == "paid" %>
     <div class="assignment">
      <div class="doc-name invoices101">
    <%= t.document.title %> <br>
    <p>Added: <%= t.updated_at.strftime("%d %b %y") %></p>

     </div>
     £<%= t.amount_cents / 100 %> <br>
     <%= t.state.capitalize! %>
      </div>
        <% end %>
      <% end %>
      </div>



  </div>
  <!-- Modal for upload -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a document</h4>
      </div>
      <div class="modal-body">
           <%= render 'documents/form', document: @document %>
      </div>
    </div>
  </div>
</div>
</div>



