<div class="flex-container">
  <div class="side-bar">
    <div class="profile">
      <div class="avatar">
        <%= cl_image_tag "Weeeeeeees" %> <br>
      </div>
      <div class="name">
        <%= @user.name %> <br>
      </div>
      <div class="institution profession">
        <p>Professor</p>
      </div>
      <div class="institution">
        <%= @user.institution %>
      </div>
    </div>
    <div class="bars">
      <ul style= "" class="nav" role="tablist">
      <% @user.taught_lessons.reverse.each_with_index do |lesson, index| %>
        <li role="presentation" class="<%= 'active' if index == 0 %>"><a href="#<%= lesson.slug %>" aria-controls="<%= lesson.slug %>" role= "tab" data-toggle="tab"><%= lesson.name %></a></li>
      <% end %>
    </ul>

    </div>
  </div>

  <div class="page">
    <div class="tab-content">
    <% if @user.taught_lessons.empty? %>
      <h1>mate no lessons</h1>
    <% end %>
    <% @user.taught_lessons.reverse.each_with_index do |lesson, index| %>
      <div role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="<%= lesson.slug %>">
       <div class="lesson-name">
         <%= lesson.name %>
       </div>
        <div class="doc-count">
         <p><%= lesson.documents.count %> assignments</p>
        </div>
       <%= render 'lessons', lesson: lesson %>
     </div>
    <% end %>
  </div>
  </div>
</div>
