  <div class="flex-doc-translated">
    <div class="inital-container">
      <div class="doc-headers">
        <strong>ORIGINAL</strong> | <%= @document.title %>
      </div>
      <div class="initial">
        <%= cl_image_tag @document.pdf.file.public_id, format: :jpg, density: 300, width: 540, :id => "trim" %>
      </div>
      <div class="button-flex">
        <div class="initial-footer">
          <%= link_to("Download", "https://res.cloudinary.com/dkzrn6xok/image/upload/fl_attachment/#{@document.pdf.file.public_id}", class: "button") %>
          <%# raise %>

        </div>
      </div>
    </div>
    <div class="final-container">
      <div class="doc-headers">
       <strong>TRANSLATION</strong> | <%= @document.title %>
      </div>
      <div class="final">
        <%= cl_image_tag @document.final_pdf.file.public_id, format: :jpg, density: 300, width: 540, :id => "trim" %>
      </div>
      <div class="button-flex">
        <div class="final-footer">
          <%= link_to 'Download', document_path(@document, :format => :pdf), class: "button"  %>
        </div>
        </div>
      </div>
    </div>
  </div>
